<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Hospital Management System - Login</title>
  <style>
  	body{
  		background: linear-gradient(to right, #fc5c7d, #6a82fb);
  	}
  </style>
  <link rel="stylesheet" href="../static/css/reset.css">

  <link rel="stylesheet" href="../static/css/style.css" media="screen" type="text/css" />

</head>

<body>

  <div class="wrap">
		<div class="avatar">
      <img src="../static/images/icons/ico.png">
		</div>
		<form action='login' method='POST'>
		<input type="text" placeholder="username" name='email' id='email' required/>
		<div class="bar">
			<i></i>
		</div>
		<input type="password" placeholder="password" name='password' id='password'required/>
		<button type='submit' name='submit'/>Sign in</button>
		</form>
	</div>

  <script src="js/index.js"></script>

</body>

</html>